@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

:root {
  --Montserrat: "Montserrat", sans-serif;
  --Fraunces: "Fraunces", sans-serif;
  --Darkcyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Verydark-blue: hsl(212, 21%, 14%);
  --Darkgrayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Cream);
}

.main-container {
  overflow: hidden;
  width: 345px;
  height: 615px;
  margin: 100px auto;
  background-color: var(--White);
  border-radius: 10px;
}

.imagen-perfume {
  overflow: hidden;
  background-image: url(./images/image-product-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 245px;
}

.contenido-central {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  justify-content: center;
  align-items: center;
}

.perfume {
  letter-spacing: 4px;
  font-family: var(--Montserrat);
  color: var(--Darkgrayish-blue);
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
}

.titulo {
  font-size: 2rem;
  font-family: var(--Fraunces);
  color: var(--Verydark-blue);
  padding: 1px;
  margin-bottom: 10px;
}
.parrafo {
  font-size: 14px;
  font-family: var(--Montserrat);
  line-height: 23px;
  color: var(--Darkgrayish-blue);
  font-weight: 500;
  margin-bottom: 20px;
}

.container-precio {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.precio {
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--Fraunces);
  color: var(--Darkcyan);
}
.precio-viejo {
  font-size: 14px;
  font-family: var(--Montserrat);
  color: var(--Darkgrayish-blue);
  padding-left: 20px;
  text-decoration: line-through;
  margin-bottom: 5px;
}

.button-primary {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--Darkcyan);
  color: white;
  font-size: 14px;
  font-weight: 700;
  font-family: var(--Montserrat)
}
.icon{
    padding-right: 15px;
}

.button-primary:hover {
  background-color: hsl(158, 80%, 17%);
}

.button-text {
  font-size: 14px;
  font-family: var(--Montserrat);
  font-weight: 700;
  color: var(--White);

}

@media (min-width: 1104px) {
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 602px;
    height: 453px;
    margin: 180px auto;
  }

  .imagen-perfume {
    overflow: hidden;
    background-image: url(./images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 70rem;
  }

  .contenido-central {
    display: flex;
    justify-content: space-around;
    height: 90%;
    margin: 0 30px;
  }

  .perfume {
    line-height: 3rem;
    font-size: 14px;
  }

  .titulo {
    line-height: 2rem;
    margin-bottom: 25px;
  }
}

.attribution {
  font-size: 16px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
